#main-header {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 480px) {
    .logo {
      width: 150px;
    }
    .header-form {
      width: 40px;
    }
  }
}
